# .env file used by load_dotenv to insert environment variables in the jupter environment
# copy example.env to .env

# Required for model usage
AI_API_KEY=your_api_key_here
AI_MODEL=anthropic:claude-sonnet-4-6

# Optional: For evaluation and tracing
LANGSMITH_API_KEY=your_langsmith_api_key_here
LANGSMITH_TRACING=true
LANGSMITH_PROJECT=lca-LangGraph-Essentials-V1